body{
	background: url('../img/grayBack.jpg') repeat left top;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
	padding: 0px
}
#page1{
	width: 100%;
	height: 100%;
	position: absolute;
	
}
#UpSection{
	width: 100%;
	height: 100px;
	position: relative;
	float: left;
	background: url('../img/home/upBanner2.png') repeat left top;
	background-size: 40px 100px;
}
#DownSection{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	margin-bottom: 60px;
}
#btnLeftUp{
	position: relative;
	float: left;
	background-image: url('../img/home/btnUpLeft.png');
	background-size: 50px 33px;
	width: 50px;
	height: 33px;
	top:20px;
	left: 15px;
}
#logoUp{
	margin: auto;
	background-image: url('../img/logo2.png');
	background-size: 200px 40px;
	width: 200px;
	height: 40px;
	margin-top: 22px;
}
#middleBtns{
	width: 100%;
	height: 65px;
	background: url('../img/home/downGray.png') no-repeat center bottom;
	background-size: 100% 20px;
}
.btnRadio{
	width: 50%;
	position: relative;
	float: left;
}
#gridSelect{
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	border-width: 2px;
	border-color: #7C6961;
	border-style: solid;
	width: 100px;
	position: relative;
	float: left;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
#photoSelect{
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	border-width: 2px;
	border-color: #7C6961;
	border-style: solid;
	width: 100px;
	position: relative;
	float: right;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.shadoselectec{
	-webkit-box-shadow: inset 0px 6px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 6px 18px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 6px 18px 0px rgba(0,0,0,0.75);
}
#photoSelect a,#gridSelect a{ 
	text-decoration: none;
	color: #322720;
	text-align: center;
	font-size: 11px;
	font-family: Helvetica;
	text-transform: uppercase;
}
#photoGrid{
	width: 100%;
	height: auto;
}
.cellPhotosGrid{
	width: 140px;
	height: 130px;
	background-color: yellow;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	/*background: url('../img/im1.jpg') no-repeat center top;*/
	background-size: 140px 130px ;
}
.cellPhotosGrid img{
	width: inherit;
	height: inherit;
}
.cellPhotosGrid span,.cellPhotosDouble span{
	height: 45px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	color: white;
	background-image: url('../img/home/bottomImageName.png');
	background-size: 100px 45px;
	text-justify: initial;
}
.cellPhotosGrid span p,.cellPhotosDouble span p{
	margin-left: 5px;
	margin-top: 10px;
	overflow: hidden;
	font-weight: bold;
	font-family: 'bignoodletitlingregular';
}
.cellPhotosDouble{
	width: 285px;
	height: 100px;
	background-color: green;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	background: url('../img/im2.jpg') no-repeat center top;
	background-size: 285px 100px ;
}
.cellPhotosGrid2{
	width: 220px;
	height: 205px;
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url('../img/home/backPhoto.png');
	background-size: 220px 205px;
}
.cellPhotosGrid2 img{
	position: absolute;
	left: 7px;
	top: 7px;
	width: 90%;
	height: 50%;
}
.cellPhotosGrid2 span{
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	text-align: left;
	font-family: 'bignoodletitlingregular';
}
.container{
	overflow: hidden;
	position: relative;
	width: 900px;
	min-width: 560px;
	height: auto;
	margin: auto;
	
}
.container2{
	overflow: hidden;
	position: relative;
	width: 960px;
	min-width: 560px;
	height: auto;
	margin: auto;
}

/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	/* STYLES GO HERE */
	#UpSection{
		width: 100%;
		height: 80px;
		background-size: 40px 80px;
	}
	#logoUp{
		background-size: 170px 40px;
		width: 170px;
		height: 40px;
		margin-top: 12px;
	}
	.container,.container2{
		min-width: 360px;
		width: 100%;
		padding-left: 20px;
	}
	#photoSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#gridSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#photoSelect a{
		font-size: 11px;
	}
	#gridSelect a{
		font-size: 11px;
	}
	.cellPhotosGrid{
		width: 100px;
		height: 80px;
		background-size: 100px 80px ;
	}
	.cellPhotosDouble{
		width: 225px;
		height: 80px;
		background-size: 225px 80px ;
	}
	#middleBtns{
		width: 100%;
		height: 45px;
		background: url('../img/home/downGray.png') no-repeat center 32px;
		background-size: 100% 15px;
	}
	.cellPhotosGrid2{
		width: 130px;
		height: 100px;
		background-size: 130px 100px;
	}
	.cellPhotosGrid2 img{
		height: 60%;
	}
	.cellPhotosGrid2 span{
		bottom: 5px;
	}
	.cellPhotosGrid span,.cellPhotosDouble span{
		height: 30px;
	}
	.cellPhotosGrid span p,.cellPhotosDouble span p{
		font-size: 12px
	}
}
/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { 
	/* STYLES GO HERE */ 
	#UpSection{
		width: 100%;
		height: 80px;
		background-size: 40px 80px;
	}
	#logoUp{
		background-size: 170px 40px;
		width: 170px;
		height: 40px;
		margin-top: 12px;
	}
	.container,.container2{
		min-width: 310px;
		width: 100%;
		padding-left: 20px;
	}
	#photoSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#gridSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#photoSelect a{
		font-size: 11px;
	}
	#gridSelect a{
		font-size: 11px;
	}
	#logoUp{
		background-image: url('../img/logo2.png');
		background-size: 135px 40px;
		height: 40px;
		width: 135px;
	}
	.cellPhotosGrid{
		width: 100px;
		height: 80px;
		background-size: 100px 80px ;
	}
	.cellPhotosDouble{
		width: 205px;
		height: 80px;
		background-size: 205px 80px ;
	}
	#middleBtns{
		width: 100%;
		height: 45px;
		background: url('../img/home/downGray.png') no-repeat center 32px;
		background-size: 100% 15px;
	}
	.cellPhotosGrid2{
		width: 130px;
		height: 100px;
		background-size: 130px 100px;
	}
	.cellPhotosGrid2 img{
		height: 60%;
	}
	.cellPhotosGrid2 span{
		bottom: 5px;
	}
	.cellPhotosGrid span,.cellPhotosDouble span{
		height: 30px;
	}
	.cellPhotosGrid span p,.cellPhotosDouble span p{
		font-size: 12px
	}
}
/* IPHONE 5 LANDSCAPE */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
/*@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {*/
                 /*IPhone 5 only CSS here*/
    #UpSection{
		width: 100%;
		height: 80px;
		background-size: 40px 80px;
	}
	#logoUp{
		background-size: 170px 40px;
		width: 170px;
		height: 40px;
		margin-top: 12px;
	}
	.container,.container2{
		min-width: 360px;
		width: 100%;
		padding-left: 20px;
	}
	#photoSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#gridSelect{
	width: 100px;
		height: 28px;
		line-height: 28px;
	}
	.cellPhotosGrid{
		width: 100px;
		height: 80px;
		background-size: 100px 80px ;
	}
	#photoSelect a{
		font-size: 11px;
	}
	#gridSelect a{
		font-size: 11px;
	}
	.cellPhotosDouble{
		width: 215px;
		height: 80px;
		background-size: 215px 80px ;
	}
	#middleBtns{
		width: 100%;
		height: 45px;
		background: url('../img/home/downGray.png') no-repeat center 32px;
		background-size: 100% 15px;
	}
	.cellPhotosGrid2{
		width: 130px;
		height: 100px;
		background-size: 130px 100px;
		margin-left: 10px;
	}
	.cellPhotosGrid2 img{
		height: 60%;
	}
	.cellPhotosGrid2 span{
		bottom: 5px;
	}
	.cellPhotosGrid span,.cellPhotosDouble span{
		height: 30px;
	}
	.cellPhotosGrid span p,.cellPhotosDouble span p{
		font-size: 12px
	}
}
/* IPHONE 5 PORTRAIT */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#UpSection{
		width: 100%;
		height: 80px;
		background-size: 40px 80px;
	}
	#logoUp{
		background-size: 170px 40px;
		width: 170px;
		height: 40px;
		margin-top: 12px;
	}
	.container,.container2{
		min-width: 310px;
		width: 100%;
		padding-left: 20px;
	}
	#photoSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#gridSelect{
		width: 100px;
		height: 28px;
		line-height: 28px;
	}
	#photoSelect a{
		font-size: 11px;
	}
	#gridSelect a{
		font-size: 11px;
	}
	#logoUp{
		background-image: url('../img/logo2.png');
		background-size: 135px 40px;
		height: 40px;
		width: 135px;
	}
	.cellPhotosGrid{
		width: 100px;
		height: 80px;
		background-size: 100px 80px ;
	}
	.cellPhotosDouble{
		width: 205px;
		height: 80px;
		background-size: 205px 80px ;
	}
	#middleBtns{
		width: 100%;
		height: 45px;
		background: url('../img/home/downGray.png') no-repeat center 32px;
		background-size: 100% 15px;
	}
	.cellPhotosGrid2{
		width: 130px;
		height: 100px;
		background-size: 130px 100px;
	}
	.cellPhotosGrid2 img{
		height: 60%;
	}
	.cellPhotosGrid2 span{
		bottom: 5px;
	}
	.cellPhotosGrid span,.cellPhotosDouble span{
		height: 30px;
	}
	.cellPhotosGrid span p,.cellPhotosDouble span p{
		font-size: 12px
	}
}
/* iPad: portrait */
@media screen and (aspect-ratio: 768/716) and (device-aspect-ratio: 768/1024), screen and (aspect-ratio: 768/1024) and (device-aspect-ratio: 768/1024) {
	.container,.container2{
		min-width: 560px;
		width: 750px;
	}
	.cellPhotosGrid2 img{
		height: 75%;
	}
}
/*  iPad: landscape */
@media screen and (aspect-ratio: 1024/372) and (device-aspect-ratio: 768/1024), screen and (aspect-ratio: 1024/768) and (device-aspect-ratio: 768/1024) {
   .container,.container2{
		min-width: 960px;
		width: 960px;
		padding-left: 70px
	}
	.cellPhotosGrid2 img{
		height: 75%;
	}
}


