#sideMenu{
	width: 300px;
	height: initial;
	background-color: yellow;
	z-index: 20;
	position: absolute;
	display: none;
	top: -30px;
	background:url('../img/home/sideMenuBack.jpg') repeat left top;
	background-size: 300px 100%;

}
.menOpciones{
	width: 100%;
	height: 40px;
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	position: relative;
	float: left;
	line-height: 40px; 
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	font-family: 'edmundsbury_serifregular';
}
/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	.menOpciones{
		height: 30px;
		line-height: 30px; 
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
}
/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { 
	.menOpciones{
		height: 30px;
		line-height: 30px; 
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
}
/* IPHONE 5 LANDSCAPE */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	.menOpciones{
		height: 30px;
		line-height: 30px; 
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
}
/* IPHONE 5 PORTRAIT */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	.menOpciones{
		height: 30px;
		line-height: 30px; 
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
}