
#page-wrap { width: 300px; margin: 0 auto; padding-top: 20px; }

#well {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #454545; 
	overflow: hidden; 
	-webkit-user-select: none;
}
h2 {
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 5s infinite;
  font-size: 23px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  width: 200%;
  -webkit-text-size-adjust: none;
  margin-top:0px;
  margin-bottom:0px;
}
#slider {
	background: url(../img/lockScreen/handSlide.png) no-repeat;
	background-size: 75px 55px;
	width: 75px;
	height: 55px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
@-webkit-keyframes slidetounlock {
	0% {
		background-position: -350px 0;
	}
	100%{
		background-position: 350px 0;
	}
}
/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	#page-wrap { width: 280px; margin: 0 auto; padding-top: 170px; }
	#slider {
		background-size: 60px 45px;
		width: 60px;
		height: 45px;
	}
}
/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { 
	#page-wrap { width: 280px; margin: 0 auto; padding-top: 170px; }
	#slider {
		background-size: 60px 45px;
		width: 60px;
		height: 45px;
	}
}

/* iPhone < 5 and retina display 
@media screen and (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	#page-wrap { width: 280px; margin: 0 auto; padding-top: 20px; }
	#slider {
		background-size: 60px 45px;
		width: 60px;
		height: 45px;
	}
}
/* iPhone 5 and retina display
@media screen and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#page-wrap { width: 280px; margin: 0 auto; padding-top: 20px; }
	#slider {
		background-size: 60px 45px;
		width: 60px;
		height: 45px;
	}
}
/* iPad: portrait */
@media screen and (aspect-ratio: 768/716) and (device-aspect-ratio: 768/1024), screen and (aspect-ratio: 768/1024) and (device-aspect-ratio: 768/1024) {
	#page-wrap { width: 300px; margin: 0 auto; padding-top: 20px; }
	#slider {
		background: url(../img/lockScreen/handSlide.png) no-repeat;
		background-size: 75px 55px;
		width: 75px;
		height: 55px;
	}
}
/* iPad: landscape */
@media screen and (aspect-ratio: 1024/372) and (device-aspect-ratio: 768/1024), screen and (aspect-ratio: 1024/768) and (device-aspect-ratio: 768/1024) {
  	#page-wrap { width: 300px; margin: 0 auto; padding-top: 20px; }
  	#slider {
		background: url(../img/lockScreen/handSlide.png) no-repeat;
		background-size: 75px 55px;
		width: 75px;
		height: 55px;
	}
}


